footer {
    position:fixed;
    bottom:0;    
    background-color:#444;
    opacity: 1;
    color:#333;
    height:60px;
    clear:both;
    width:100%;
}

footer img{        
    display: inline-block;    
}

body{
    min-height: 600px;
    clear: both;
}

#jTable select{
    color: black; /* 1 */
    font: inherit; /* 2 */
    margin: auto; /* 3 */
    padding: 0px;
    width:50px;
    height: 1.9em;    
}

.jTable select{
    color: black; /* 1 */
    font: inherit; /* 2 */
    margin: auto; /* 3 */
    padding: 0px;
    width:50px;
    height: 1.9em;    
}

div.jtable-main-container{
    padding-bottom: 5em;
}

h4.title {
    padding:  10px;
}

.jtable-data-row jtable-row-even jtable-row-selected {
    background-color: #65A36A;
}

.data_container {
    border: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: #ccc    
}

.date_title {
    font-size: 14px;
    width: 190px;
}

.time_title {
    font-size: 14px;   
}

.stu_title {
    font-size: 14px;
    width: 150px;
    text-align: right;
}

.stu_data {
    font-size: 14px;
    width: 250px;
    text-align: right;
    background-color: white !important;
}

.right_home_title {
    font-size: 14px;
    width: 150px;
    margin-bottom: 5px;    
}

.home_data {
    font-size: 14px;
    width: 100px;
    text-align: right;
    background-color: white !important;
}

.left_home_title {
    font-size: 14px;
    width: 215px;    
}

#toTop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 5px;
    width: 64px;
    height: 64px;
    background-image: url('../img/up.png');
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
#toTop:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

.left_data {
    text-align: left;	
}

.center_data {
    text-align: center;
}

.jtable-title-text {
    margin-right: 12px;
}

.ui-dialog {
    border-color: #258faf !important;
}

.ui-dialog-titlebar {
    background-color: #258faf !important;
}

.ui-dialog-buttonpane{
    border-color: #258faf !important;
    background-color: white;
}

.ui-button-text-only .ui-button-text{
    background-color: #258faf !important;
}

.printBtn{
    cursor: pointer;
}

html, body, .off-canvas-wrap, .inner-wrap, .main-section {
  height: 100% !important;
}