/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2014, 3:58:17 AM
    Author     : Mohammad
*/

body{
    direction: rtl;
}
table, th, td{
  border-collapse:collapse !important;
  border: 1px solid black !important;
  width:100% !important;
  text-align:right !important;
  border-color: black !important;
}
area0{
width: 80%;
}